.container {
  padding: 15px;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  height: 100px;
}

.menu-item {
  margin: auto 15px;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}
